@import "scrollbar";

.chat-img {
  max-width: 250px;
  max-height: 200px;
}

.chat-wrap {
  position: absolute;
  bottom: 20px;
  width: 380px;
  height: calc(100% - 20px);

  @include mq(mobile) {
    width: calc(100% - 20px);
  }
  display: none;
}

input, textarea {
  outline: 0;
}

.chats {
  float: left;
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: scroll;
  padding: 10px 0 0 0;
/*  overflow: hidden;
  position: relative;*/
}

.chatbox {
  width: 100%;
  background: #f0f0f0;
  border: 2px solid #d9d9d9;
  resize: none;
  padding: 8px;
  font-size: 14px;
  height: 100px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.box {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  clear: both;
  margin: 0 0 10px;
  max-width: 310px;
  padding: 10px;

  a {
    font-style: italic;

    &:active {
      opacity: .6;
    }
  }

  a[href$="jpg"],
  a[href$="jpeg"],
  a[href$="jpe"],
  a[href$="png"],
  a[href$="gif"] {
    border: 0 none;
  }

  span {
    clear: both;
    cursor: default;
    float: left;
    font-size: 11px;
    margin: 4px 0 0;
  }

  p, button {
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    clear: both;
  }

  i {
    float: right;
    margin: 2px 0 0 4px;
  }

  b {
    float: right;
    margin: 3px 0 0 5px;
    @extend .sprite-message_error;
  }

  em {
    display: inline-block;
    left: 22px;
    max-width: 150px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 1px;
    right: 0;
    white-space: nowrap;
  }
}

.typing {
  display: none;

  &.active {
    display: block;
  }
}

.box-me {
  background: none repeat scroll 0 0 #86b639;
  border: 1px solid #86b639;
  color: #fff;
  float: right;

  span {
    color: #c2dd96;
  }

  i {
    @extend .sprite-handy_gruen;
  }

  a {
    color: #d7f0ae;
    border-bottom: 1px solid #bad490;
  }
}

.box-partner {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #d1d1d1;
  float: left;

  span {
    color: #a7a7a7;
  }

  i {
    @extend .sprite-handy_weiss;
  }

  a {
    color: #868686;
    border-bottom: 1px solid #cdcdcd;
  }
}

.box-system {
  color: #969696;
  max-width: 100%;
  padding: 3px;
  margin-bottom: 5px;
}

.app-button {
  border: 1px solid black;
  padding: 3px;
  cursor: pointer;
  display: block;
  background: #c63539;
  color: #ffffff;
}

.youtube-link {
  display: inline-block;
  font-size: 12px;
  position: relative;
  width: 170px;
  height: 12px;
  border: 0 !important;

  &:active em {
    opacity: .6;
  }

  small {
    @extend .sprite-youtube;
    display: inline-block;
    left: 0;
    margin: 0 3px 0 2px;
    position: absolute;
    top: 0;
  }
}

.splashscreen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: calc(40% - 128px/2);
  left: calc(50% - 124px/2);

  span {
    position: absolute;
    //float: left;
    display: block;
    left: 30px;
  }
}

.chat-state-icon {
  display: inline;
  float: right;
  margin-top: 6px;
  margin-left: 10px;
}

.sprite-mark-pending {
  background-image: url(../img/pending.gif);
  height: 9px;
  width: 9px;
}


//memes
.meme {
  display: inline-block;
  margin-bottom: -5px;

  //border: 1px solid red;
}
