@import "scrollbar";

.chat-wrap {
  position: absolute;
  bottom: 20px;
  width: 380px;
  height: calc(100% - 20px);

  @include mq(mobile) {
    width: calc(100% - 20px);
  }
}

.chats {
  float: left;
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: scroll;
  padding: 10px 0 0 0;
  overflow: hidden;
  position: relative;
}

.chatbox {
  width: 100%;
  background: #f0f0f0;
  border: 2px solid #d9d9d9;
  resize: none;
  padding: 8px;
  font-size: 14px;
  height: 100px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.box {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  clear: both;
  margin: 0 0 10px;
  max-width: 310px;
  padding: 10px;

  span {
    clear: both;
    cursor: default;
    float: left;
    font-size: 11px;
    margin: 4px 0 0;
  }

  p {
    font-size: 14px;
    white-space: pre-wrap;
  }

  i {
    float: right;
    margin: 2px 0 0 4px;
  }

  b {
    float: right;
    margin: 3px 0 0 5px;
    @extend .sprite-message_error;
  }
}

.box-me {
  background: none repeat scroll 0 0 #86b639;
  border: 1px solid #86b639;
  color: #fff;
  float: right;

  span {
    color: #c2dd96;
  }

  i {
    @extend .sprite-handy_gruen;
  }
}

.box-partner {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #d1d1d1;
  float: left;

  span {
    color: #a7a7a7;
  }

  i {
    @extend .sprite-handy_weiss;
  }
}

.youtube-link {
  font-size: 12px;
  text-decoration: none;

  img {
    @extend .sprite-youtube;
    display: inline-block;
    margin: 0 3px 0 2px;
  }

  .box-me & {
    color: #d7f0ae;
  }

  .box-partner & {
    color: #868686;
  }
}

//memes
.meme-img {
  position: relative;
  top: 10px;
  display: inline-block;

  //border: 1px solid red;
}