.site-content {
  float: left;
  padding: 30px;
  width: calc(100% - 650px);
  height: calc(100% - 100px);

  @include mq(mobile) {
    display: none;
  }
}

.fume-tab {
  float: left;
  border: 1px solid black;
  width: 200px;
  cursor: default;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;

  &.fume-tab-active {
    background: #94c644;
  }
  &:hover {
    background: #b7f754;
    .fume-tab-btn {
      display: block;
    }
  }

  .fume-tab-btn {
    float: right;
    //margin-top: 6px;
    display: none;
    padding: 5px;
    &:hover {
      //border: 1px solid red;
      background: #ababab;
      border-radius: 15px;
    }
  }
}

.fume-tab-desktop {
  width: 28px;
  border-radius: 0;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 5px;
  background: #dbfda8;
  margin-bottom: 3px;
}

.fume-tab-content {
  clear: both;
  margin-top: 0px;
  height: 100%;
  border-top: 1px solid black;

  .fume-tab-content-private {
    display: none;
    height: 100%;

    &.fume-tab-content-active {
      display: block;
    }
  }

}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tab-desktop-icon {
  border: 1px solid black;
  height: 64px;
  width: 64px;
  border-radius: 7px;
  float: left;
  margin: 5px;
  text-align: center;
  background: #bdfa52;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 1px 1px 1px #282828;

  &:hover {
    background: #caff46;
  }
}

.tab-desktop-icon-more {
  background: #ffffff;
  padding-top: 8px;
  font-size: 35px;
  &:after {
    content: "+";
  }
  &:hover {
    background: #f4f4f4;
  }
}

.vex-content {
  textarea {
    min-height: 500px !important;
  }
}