.site-header {
  float: left;
  width: 100%;
  background: #282828;
  height: 50px;
  overflow: hidden;
}

.logout {
  float: left;
  border-right: 1px solid #353535;
  height: 100%;
  padding: 0 20px;

  &:hover {
    opacity: .5;
  }
}

.sprite-logout {
  float: left;
  margin: 17px 0 0 0;
}

.username {
  color: #5a5a5a;
  float: left;
  margin: 15px 0 0 20px;
  font-size: 14px;
}

/**
 * LOGO
 */
.site-logo {
  background: #86b639;
  float: left;
  height: calc(100% - 50px);
  width: 250px;
  text-align: center;

  @include mq(mobile) {
    display: none;
  }
}

.logo {
  margin: 60px auto;
}

/**
 * SEARCH
 */
.search {
  float: right;
  border-left: 1px solid #353535;
  height: 100%;
  width: 400px;
  position: relative;

  @include mq(mobile) {
    width: 45px;
    border: 0;
  }

  input {
    color: #5a5a5a;
    font-size: 14px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0 20px 0 40px;

    @include mq(mobile) {
      display: none;
    }
  }
}

.sprite-search {
  position: absolute;
  top: 17px;
  left: 13px;
}