.meme-PogChamp {
  background-image: url(../img/meme.png);
  background-position: 0px -48px;
  width: 23px;
  height: 30px;
}
.meme-kogoroGekonnt {
  background-image: url(../img/meme.png);
  background-position: 0px -108px;
  width: 32px;
  height: 32px;
}
.meme-oi {
  background-image: url(../img/meme.png);
  background-position: 0px -20px;
  width: 28px;
  height: 28px;
}
.meme-timW00t {
  background-image: url(../img/meme.png);
  background-position: 0px -140px;
  width: 21px;
  height: 32px;
}
.meme-trollface {
  background-image: url(../img/meme.png);
  background-position: 0px -78px;
  width: 28px;
  height: 30px;
}
.meme-yo {
  background-image: url(../img/meme.png);
  background-position: 0px 0px;
  width: 31px;
  height: 20px;
}
