// Helper mixins
@mixin mq($point) {
  @if $point == mobile {
    @media (max-width: 700px) { @content; }
  }
}

@mixin opacity($o) {
  $IEValue: $o * 100;
  opacity: $o;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -ms-border-radius: $r;
  border-radius: $r;
}

@mixin transition($t...) {
  -webkit-transition: $t;
  -moz-transition: $t;
  -o-transition: $t;
  transition: $t;
}

// Scrollbar mixins
@mixin scrollbar-rail-default {
  display: none;
  position: absolute; /* please don't change 'position' */
  @include border-radius(4px);
  @include opacity(0);
  @include transition(background-color .2s linear, opacity .2s linear);
}

@mixin scrollbar-rail-hover {
  //background-color: #eee;
  @include opacity(0.9);
}

@mixin scrollbar-default {
  position: absolute; /* please don't change 'position' */
  background-color: #5d5d5d;
  @include border-radius(4px);
  @include transition(background-color .2s linear);
}

@mixin scrollbar-hover {
  background-color: #373737;
}

@mixin in-scrolling {
  &.in-scrolling {
    @include scrollbar-rail-hover;
  }
}