.site-tools {
  float: left;
  width: 400px;
  background: #f3f3f3;
  height: calc(100% - 50px);
  padding: 10px;
  position: relative;
  overflow: hidden;

  @include mq(mobile) {
    width: 100%;
  }
}