.sprite-extern_gruen {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 11px;
  height: 9px;
}
.sprite-extern_weiss {
  background-image: url(../img/sprite.png);
  background-position: 0px -9px;
  width: 11px;
  height: 9px;
}
.sprite-handy_gruen {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 7px;
  height: 9px;
}
.sprite-handy_weiss {
  background-image: url(../img/sprite.png);
  background-position: 0px -27px;
  width: 7px;
  height: 9px;
}
.sprite-play_fume {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 74px;
  height: 49px;
}
