/**
 * BASE
 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
}

body,
html {
  height: 100%;
}

ul { list-style: none; }
a { text-decoration: none; }

/**
 * HEADER
 */
.site-header {
  float: left;
  width: 100%;
  background: #282828;
  height: 50px;
  overflow: hidden;
}

.logout {
  float: left;
  border-right: 1px solid #353535;
  height: 100%;
  padding: 0 20px;
}

.username {
  color: #5a5a5a;
  float: left;
  margin: 15px 0 0 20px;
  font-size: 14px;
}

/**
 * LOGO
 */
.site-logo {
  background: #86b639;
  float: left;
  height: calc(100% - 50px);
  width: 250px;
  text-align: center;
}

.logo {
  margin: 60px auto;
}

/**
 * CONTENT
 */
.site-content {
  float: left;
  padding: 30px;
  width: calc(100% - 650px);
}

/**
 * TOOLS
 */
.site-tools {
  float: left;
  width: 400px;
  background: #f3f3f3;
  height: calc(100% - 50px);
  padding: 10px;
  position: relative;
  overflow: hidden;
}

/**
 * CHAT
 */
.chat-wrap {
  position: absolute;
  bottom: 20px;
  width: 380px;
  height: calc(100% - 20px);
}

.chats {
  float: left;
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: scroll;
  padding: 10px 0 0 0;
}

.chatbox {
  width: 100%;
  background: #f0f0f0;
  border: 2px solid #d9d9d9;
  resize: none;
  padding: 8px;
  font-size: 14px;
  height: 100px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.box {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  clear: both;
  margin: 0 0 10px;
  max-width: 310px;
  padding: 10px;
}

.box span {
  clear: both;
  cursor: default;
  float: left;
  font-size: 11px;
  margin: 4px 0 0;
}

.box p {
  font-size: 14px;
}

.box-me {
  background: none repeat scroll 0 0 #86b639;
  border: 1px solid #86b639;
  color: #fff;
  float: right;
}

.box-me span {
  color: #c2dd96;
}

.box-partner {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #d1d1d1;
  float: left;
}

.box-partner span {
  color: #a7a7a7;
}